.home-container{
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.atm-card{
    width: 420px;
    background-color: #111827;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.6);
    text-align: center;
}

.titulo{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
}

.subtitulo{
    color: #cbd5e1;
    margin-bottom: 30px;
    font-size: 17px;
}

.banco-btn{
    height: 65px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.banco-btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(0,0,0,0.4);
}

/* BBVA */

.bbva{
    background: linear-gradient(135deg, #004481, #0059a8);
    color: white;
}

.bbva:hover{
    background: linear-gradient(135deg, #0059a8, #0073d1);
}

/* COPPEL */

.coppel{
    background: linear-gradient(135deg, #ffdd00, #ffe74d);
    color: #0033a0;
}

.coppel:hover{
    background: linear-gradient(135deg, #ffe74d, #fff176);
}

/* BANAMEX */

.banamex{
    background: linear-gradient(135deg, #1f4fa3, #2b63c6);
    color: white;
}

.banamex:hover{
    background: linear-gradient(135deg, #2b63c6, #3c7cff);
}

/* SANTANDER */

.santander{
    background: linear-gradient(135deg, #ec0000, #ff1f1f);
    color: white;
}

.santander:hover{
    background: linear-gradient(135deg, #ff1f1f, #ff4d4d);
}

/* DEFAULT */

.default-bank{
    background: linear-gradient(135deg, #374151, #4b5563);
    color: white;
}